*{
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}
#navsec
{
    height: 80px;
    width: 100%;
    /* border: 2px solid red; */
    background-color:black;
}
#navart
{
    height: 80px;
    width: 80%;
    /* border: 2px solid blue; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
#logo
{
    height: 80px;
    width: 132px;
    /* border: 2px solid green; */
    padding-top: 15px;
    
    padding-right: 10px;
    
}
#navart  a
{
    fill: white;
}
#navmenu

{
    height: 80px;
    width: 490px;
    /* border: 2px solid pink; */
}

#navmenu ul
{
   list-style-type: none;
   display: flex;
   justify-content: space-between;
   padding-top: 30px;
}
#navmenu ul li
{
    color: white;
}
#navmenu ul li a
{
    text-decoration: none;
    color: white;
    font-size: 15.4px;
    font-family: circularsp,spotify-circular,helvetica,sans-serif;
    font-weight: 700;
}
#navmenu ul li a:hover
{
    color:green
}
#homesection
{
    height: 600px;
    width:100% ;
    /* border: 2px solid orangered; */
    background:url(https://www.scdn.co/i/free/bubbles-dktp.svg) center -138px / 100% 1068px no-repeat, linear-gradient(-45deg, rgb(108, 14, 224) -5%, rgb(240, 55, 166));
    background-position: center -0px;
    background-repeat: no-repeat;
}    
#homearticle
{
    height: 600px;
    width: 80%;
    /* border: 2px solid red; */
    margin: 0 auto;
    display: flex; 
    
}
#homediv1
{
    height: 600px;
    width:35% ;
    /* border: 2px solid violet; */
    padding-top: 95px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 40px;
    
}
#img
{
    margin-top: -528px;
    padding-left: 10px;
}
#hometext
{
    height: 600px;
    width: 60%;
    /* border: 2px solid black; */
}
#text
{
    padding-top: 110px;
    font-size: 70px;
    color: white;
}
#button a
{
    text-decoration: none;
}
#buttoninner
{
    height: 60px;
    width: 190px;
    /* border: 2px solid black; */
    border-radius: 500px;
    color: black;
    text-align: center;
    padding-top: 22px;
    font-size: 17px;
    background-color: white;
    font-weight: 100;
    margin-top: 50px;
    margin-left: 30px;
}
#buttoninner:hover
{
    height: 66px;
    width: 200px;
    line-height: 28px;
    margin: -3px -4px 10 10;
}
#home2section
{
    height: 711px;
    width: 100%;
    /* border: 2px solid green; */
}
#home2article
{
    height: 595px;
    width: 90%;
    /* border: 2px solid red; */
    margin: 0 auto;
    
}
#home2top
{
    height: 20%;
    width: 100%;
    /* border: 2px solid palevioletred; */
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    padding-top: 50px;
}
#home2bottom
{
    height: 80%;
    width: 100%;
    /* border: 2px solid green; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.home2list
{
    height: 70%;
    width: 335px;
    /* border:2px solid red; */
}
.listimg1
{
    height: 142px;
    width: 142px;
    margin: 0 auto;
    background: url(https://i.scdn.co/image/ab671c3d0000f430678067184805befd38aa0f57);
    padding: 86px;
    background-repeat: no-repeat;
    background-size: 151px;
}
.listimg2
{
    height: 142px;
    width: 142px;
    margin: 0 auto;
    background: url(https://i.scdn.co/image/ab671c3d0000f430a6f822749d5c25c32ee31d66);
    padding: 86px;
    background-size: 151px;
    background-repeat: no-repeat;


}
.listimg3
{
    height: 142px;
    width: 142px;
    margin: 0 auto;
    background: url(https://i.scdn.co/image/ab671c3d0000f430eb43023b5332389f5094530d);
    padding: 86px;
    background-size: 151px;
    background-repeat: no-repeat; 
}
.listimg4
{
    height: 142px;
    width: 142px;
    margin: 0 auto;
    background: url(https://i.scdn.co/image/ab671c3d0000f4309430062bc28461dc8fbde6bc);
    padding: 86px;
    background-size: 151px;
    background-repeat: no-repeat; 
}
.list1text
{
    height: 109px;
    width: 100%;
    /* border: 2px solid violet; */
    text-align: center;
    margin-top: 30px;
    line-height: 33px;
    margin: 41px 50px 0px-1px;
}
.list1text #p1
{
    color: black;
    font-weight: bold;
    font-size: 31px;
    line-height: 21px;
}
.list1text #p2
{
    font-size:18px;
    line-height: 22px;
    margin-top:17px ;
    word-spacing:5px;
    color: black;
}
#home3section
{
    height: 600px;
    width: 100%;
    /* border: 2px solid red; */
    background:linear-gradient(rgb(176, 35, 194) 15%, rgb(96, 11, 231));
}

.home31
{
    height: 50%;
    width: 100%;
    text-align: center;
    color:whitesmoke ;
    padding-top: 237px;
    font-size: 48px;
    font-weight: 900;
    font-family:var (--font-family,spotify-circular),Helvetica,Arial,sans-serif;
}
.home32
{
    height: 50%;
    width: 100%;
    text-align: center;
    color:whitesmoke ;
    font-size: 48px;
    font-weight: 900;
    font-family:var (--font-family,spotify-circular),Helvetica,Arial,sans-serif; 
}
#home4section
{
    height: 400px;
    width: 100%;
    /* border: 2px solid red; */
    background: url(https://www.scdn.co/i/free/bubbles-dktp.svg) center -138px / 100% 1068px no-repeat, linear-gradient(-45deg, rgb(108, 14, 224) -5%, rgb(240, 55, 166));;
}
.home41
{
    height: 50%;
    width: 100%;
    text-align: center;
    color:whitesmoke ;
    font-size: 60px;
    font-weight: 900;
    margin-top: 110px;
    font-family: var(--font-family,spotify-circular),Helvetica,Arial,sans-serif;
    padding-top: 70px;
}
#home42button
{
    height: 50%;
    width: 100%;

    display: flex;
    justify-content:center;
}

#home42buttoninner
{
    height: 60px;
    width: 254px;
    background-color: white;
    color: black;
    border-radius: 500px;
    text-align: center;
    font-size: 17px;
    font-weight: 700;
    padding-top: 22px;
    margin-top: -10px

}
#home42a
{
    text-decoration: none;
}
#home42buttoninner:hover{
    height: 66px;
    width: 264px;
    margin: -3px -4px 0 0;
    line-height: 28px;
}
#footer
{
    height:671px;
    width: 100%;
    border: 2px solid red;
    background-color: black;
    

}
#footerarticle
{
    height: 100%;
    width: 90%;
    border: 2px solid blue;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    
    
}
#footersec1
{
    height: 80%;
    width: 15%;
    border: 2px solid red;
    text-align: center;
}
#footersec1 a{
    fill:white;
}

#footsec2
{
    height: 80%;
    width: 55%;
    border: 2px solid blue;
    display: flex;
    text-align: center;
}
#footsec2 .dl
{
    height: 100%;
    width: 33%;
    border: 2px solid red;
    line-height: 55px;
}
#footsec2 .dl dt a
{
    text-decoration: none;
    color:white ;
    padding:opx 0px 0px 0px 60px;
}
.dl dt
{
    font-size: 17px;
    padding-top: 25px;
    font-weight:900 ;
    text-transform: uppercase;
    color: white;
}
.dl dd a{
    text-decoration: none;
    color:white ;
    font-size: 20px;
}
.dl dd a:hover
{
    color:green;
}
#footersec3
{
    height: 80%;
    width: 30%;
    border: 2px solid white;
    padding-left: 180px;
    padding-top: 35px;
}
#footersec3 ul
{
    height: 77px;
    width: 212px;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#footersec3 ul #sec3li1
{
    height: 54px;
    width: 54px;
    list-style-type: none;
    border-radius: 27px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border:2px solid white ;
}
#footersec3 ul #sec3li1
{
    background:no-repeat url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 448' fill='%23222326'%3E%3Cpath d='M0 230.126v-.793c.016 55.974.294 63.853 1.344 87.03 3.733 81.349 48.87 126.56 130.293 130.293C155.55 447.739 163.165 448 224 448H0V230.126zm229.242-189.75c55.006.014 62.368.256 85.291 1.307 60.704 2.762 89.059 31.565 91.822 91.821 1.05 22.905 1.275 30.266 1.287 85.272v10.487c-.014 55.022-.255 62.365-1.287 85.27-2.782 60.2-31.062 89.059-91.822 91.822-23.159 1.06-30.399 1.297-87.005 1.306h-7.054c-56.572-.009-63.848-.245-86.989-1.306-60.853-2.782-89.058-31.715-91.821-91.84-1.05-22.905-1.292-30.249-1.306-85.271v-8.77c.01-56.572.263-63.83 1.306-86.989 2.781-60.237 31.061-89.058 91.821-91.821 22.923-1.032 30.268-1.274 85.273-1.287h10.484zm-5.242 68.6c-63.523 0-115.024 51.501-115.024 115.024S160.477 339.043 224 339.043 339.024 287.54 339.024 224c0-63.523-51.501-115.024-115.024-115.024zm0 40.357c41.235 0 74.667 33.432 74.667 74.667 0 41.253-33.432 74.667-74.667 74.667S149.333 265.253 149.333 224c0-41.235 33.432-74.667 74.667-74.667zM343.579 77.56c-14.859 0-26.899 12.04-26.899 26.88s12.04 26.88 26.899 26.88c14.84 0 26.861-12.04 26.861-26.88s-12.021-26.88-26.861-26.88zM448 224v224H224c60.835 0 68.47-.261 92.363-1.344 81.274-3.733 126.597-48.87 130.274-130.293C447.74 292.469 448 284.835 448 224zm-1.344-92.344c-3.659-81.275-48.85-126.56-130.275-130.293C293.187.294 285.307.016 229.333 0H448v224c0-60.835-.261-68.45-1.344-92.344zM0 0h218.667c-55.973.016-63.834.294-87.011 1.344C50.306 5.077 5.096 50.214 1.363 131.637.299 154.722.019 162.62 0 217.873V0z'/%3E%3C/svg%3E"),currentColor;
    width: 30px;
    display: block;
    background-color: white;
    height: 30px;
     border-radius: 1;
}
#footersec3 ul #sec3li2 a
{
    background: no-repeat url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 448' fill='%23222326'%3E%3Cpath d='M448 0v448H0V0h448zM299.75 64c-22.333 0-41.375 7.875-57.125 23.625S219 122.417 219 144.75c0 6 .667 12.167 2 18.5-33-1.667-63.958-9.958-92.875-24.875S74.667 103.583 54.5 78.75c-7.333 12.5-11 26.083-11 40.75 0 13.833 3.25 26.667 9.75 38.5 6.5 11.833 15.25 21.417 26.25 28.75-12.717-.49-24.637-3.77-35.76-9.841L43 176.5v1c0 19.5 6.125 36.625 18.375 51.375s27.708 24.042 46.375 27.875a83.54 83.54 0 01-21.25 2.75c-4.667 0-9.75-.417-15.25-1.25 5.167 16.167 14.667 29.458 28.5 39.875 13.833 10.417 29.5 15.792 47 16.125-29.333 23-62.75 34.5-100.25 34.5-7.167 0-13.667-.333-19.5-1C64.5 371.917 105.833 384 151 384c28.667 0 55.583-4.542 80.75-13.625s46.667-21.25 64.5-36.5 33.208-32.792 46.125-52.625c12.917-19.833 22.542-40.542 28.875-62.125 6.333-21.583 9.5-43.208 9.5-64.875 0-4.667-.083-8.167-.25-10.5 15.833-11.5 29.333-25.417 40.5-41.75-15.5 6.667-31 10.833-46.5 12.5C392 104 403.833 89.167 410 70c-16 9.5-33.083 16-51.25 19.5-16-17-35.667-25.5-59-25.5z'/%3E%3C/svg%3E"),currentColor;
    width: 30px;
    display: block;
    background-color: white;
    height: 30px;
}
#footersec3 ul #sec3li3 a
{
    background: no-repeat url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 448' fill='%23222326'%3E%3Cpath d='M448 0v448H0V0h448zM276.877 16h-1.127c-28.833 0-51.917 8.542-69.25 25.625-17.16 16.912-25.826 40.645-25.997 71.197l-.003.928v54.5h-63.75v74h63.75V432H257V242.25h63.5l9.75-74H257V121c0-12 2.5-21 7.5-27 4.923-5.908 14.37-8.907 28.342-8.998L293.5 85h39.25V19c-13.085-1.938-31.336-2.938-54.754-2.997l-1.12-.003z'/%3E%3C/svg%3E"),currentColor;
    width: 30px;
    display:block;
    background-color: white;
    height: 30px;
}
#footersec3 ul #sec3li2
{
    height: 34px;
    width: 54px;
    list-style-type: none;
    border-radius: 27px;
    border-color: #17191b;
    display: flex;

}
#footersec4
{
    border: 2px solid rgb(101,46,228);
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#footsec4 a
{
    text-decoration: none;
    color: #919496;

}
#footsec4 a:hover
{
    color: green;
}
#footersec5
{
    border: 2px solid rgb(153, 236, 97);
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#div1footersec5
{
    height: 100%;
    width: 60%;
}
#div1footersec5 ul
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 80%;
}
#divfootersec5 ul li
{
    list-style-type:none;
    text-decoration: none;
}
#div1footersec5ul li a
{
    text-decoration: none;
    color: #919496;
}

#div1footersec5 ul li a:hover
{
    color: #1ed760;
}
#div2footersec5
{
    color: #919496;
}
.sec5svg
{
    width: 21px;
}

   

